{% extends 'base.html.twig' %}

{% block title %}Edit Utilisateur{% endblock %}

{% block body %}
    <h1>Edit Utilisateur</h1>

    {{ include('utilisateur_crud/_form.html.twig', {'button_label': 'Éditer'}) }}

    <div class="d-flex gap-4 mt-4">
        <a href="{{ path('utilisateur_crud_index') }}" class="btn btn-info mr-2">Retour à la liste</a>
        {{ include('utilisateur_crud/_delete_form.html.twig') }}
    </div>
{% endblock %}
