{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Nouvel utilisateur</h1>

    {{ include('utilisateur_crud/_form.html.twig', {'button_label': 'Créer'}) }}

    <a href="{{ path('utilisateur_crud_index') }}" class="btn btn-info">Retour à la liste</a>
{% endblock %}
